@import "variables.scss";
.display {
  position: absolute;
  border: 1px solid yellow;
  left: 0;
  right: 0;
  top: 29%;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  width: 100%;
  padding: 2rem 1.3rem;
}
