@import "variables.scss";
.display {
  position: absolute;
  left: 0;
  right: 0;
  top: 11rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 67rem;
  width: 100%;
  padding: 1.6rem 1.3rem;
  border-radius: 15px;
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  box-shadow: 0px 11px 13px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 11px 13px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 11px 13px -3px rgba(0, 0, 0, 0.4);

  & > * {
    flex-basis: 100%;
  }
  @media screen and (max-width: 1150px) {
    max-width: 50rem;
  }

  @media screen and (max-width: 900px) {
    max-width: 43rem;
    width: 100%;
    padding: 1rem 1rem;
  }
  @media screen and (max-width: 800px) {
    max-width: 41.5rem;
    width: 100%;
    padding: 1rem 1rem;
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 27rem;
  }
  @media screen and (max-width: 650px) {
    max-width: 23rem;
  }
  @media screen and (max-width: $mobile) {
    max-width: 23rem;
    padding: 1rem 1rem;
  }
  .display__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid $DarkGray;
    padding: 0 2.5rem 0 1.5rem;
    @media screen and (max-width: 900px) {
      padding: 0 1rem 0 1.2rem;
    }

    &:last-child {
      border-right: none;
    }
    &:first-child {
      padding-left: 0.5rem;
    }
    .title {
      text-transform: uppercase;
      letter-spacing: 0.06rem;
      color: $DarkGray;
    }
    .info {
      color: $VeryDarkGray;
    }
    .ip {
      width: 18vw;
      word-wrap: break-word;
      @media screen and (max-width: 710px) {
        width: 15vw;
      }
      @media screen and (max-width: 650px) {
        width: 18rem;
      }
    }
    @media screen and (max-width: 650px) {
      border-right: none;
      &:last-child {
        border-right: none;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
