@import "variables.scss";
.search {
  //   flex: 0.37;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: 16rem;
  @media screen and (max-width: 650px) {
    height: 24rem;
  }
  @media screen and (max-width: $mobile) {
    height: 22rem;
  }
  h1 {
    margin-top: 1.7rem;
    color: #ffffff;
  }
  .search__input {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;

    #ipAddress {
      padding: 0.8rem 1rem;
      max-width: 27rem;
      width: 100%;
      font-size: $textInput;
      border-top-left-radius: 0.69rem;
      border-bottom-left-radius: 0.69rem;
      border: none;
      @media screen and (max-width: 650px) {
        max-width: 21rem;
      }
      @media screen and (max-width: $mobile) {
        padding: 1.3rem 1rem;
        max-width: 17rem;
        width: 100%;
        font-size: 14px;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
    button {
      width: 3.2rem;
      border: none;
      outline: none;
      background-color: #000000;
      border-top-right-radius: 0.69rem;
      border-bottom-right-radius: 0.69rem;
      cursor: pointer;
      @media screen and (max-width: $mobile) {
        width: 4.3rem;
      }
    }
  }
}
